asgiref==3.4.1
boto3==1.17.105
botocore==1.20.105
certifi==2021.5.30
chardet==4.0.0
Django==3.0
django-cors-headers==3.7.0
django-filter==2.4.0
django-storages==1.11.1
djangorestframework==3.12.4
djangorestframework-simplejwt==4.7.1
idna==2.10
jmespath==0.10.0
mysqlclient==2.0.3
Pillow==8.3.0
PyJWT==2.1.0
python-dateutil==2.8.1
python-dotenv==0.18.0
pytz==2021.1
razorpay==1.2.0
requests==2.25.1
s3transfer==0.4.2
shortuuid==1.0.1
six==1.16.0
sqlparse==0.4.1
urllib3==1.26.6
